
DSYSTEM_OS = Linux-i686
CC = gcc
CXX = g++
BISON = bison
FLEX = flex

OBJS = $(addsuffix .o,$(basename $(SRCS)))

ENV = -g

INCLUDES=  \
	-I. \
	-I../../../
CFLAGS	= $(INCLUDES) -DLONG_POINTER $(ENV) 
CXXFLAGS	= $(INCLUDES) -DLONG_POINTER -fpermissive -Wno-conversion-null -Wno-write-strings -Wno-deprecated $(ENV) 		  
ARFLAGS = rU

RM = /bin/rm -f
SED = /bin/sed

.SILENT:

DEPENDS = $(addprefix .d_, $(basename $(SRCS)))

LEX_YACC_DEPENDS = $(addprefix .d_,$(LEX_SRCS )) $(addprefix .d_,$(YACC_SRCS))

LP = (
RP = )
ARCHIVE_OBJS = $(addsuffix $(RP),$(addprefix $(ARCHIVE)$(LP),$(notdir $(OBJS))))

.SUFFIXES: .c .C

$(ARCHIVE): $(ARCHIVE_OBJS)
	echo "Generating" $(ARCHIVE)
	ranlib $(ARCHIVE)


target: $(OBJS)
		echo "Done."

.PHONY: clean

clean:
		$(RM) $(OBJS) $(DEPENDS)

.c.o:
		echo "Compiling" $<
		$(CC) -c $(CFLAGS) $<

.C.o:
		echo "Compiling" $<
		$(CXX) -c $(CXXFLAGS) $<

.y.c:
	echo "Making $@..."
	$(BISON) -o $@ -d $<
	$(SED) s/yy/$(PREFIX)/g --in-place $@

.l.c:
	echo  "Making $@..."
	$(FLEX) $(FLEX_FLAGS) -o $@ $< 
	$(SED) s/yy/$(PREFIX)/g --in-place $@


.d_%: %.c
	echo  "Updating dependences for" $< "..."
	$(CPP) -D_STDARG_H -MM -MT '$(basename $<).o' $(INCLUDES) -MF $@ $<

.d_%: %.C
	echo  "Updating dependences for" $< "..."
	$(CPP) $(CXXFLAGS) -D_STDARG_H -MM -MT '$(basename $<).o' -MF $@ $<
#
# default rule to put all .o files in the archive and remove them
#

(%.o) : %.o
	$(AR) $(ARFLAGS) $@ $<

include $(DEPENDS)

# DO NOT DELETE THIS LINE -- make depend depends on it.
