# $Id: Makeinclude.config,v 1.20 2003/02/28 22:18:33 carr Exp $
###########################################################################
#
# File:
#   Makeinclude.config
#
# Authors: 
#    Kevin Cureton
#
# Date:
#    August 1994
#
# Description:
#    This file contains correct paths for the tools which are used to
#    compile the D System Programming Environment.
#
###########################################################################
#
#          Copyright 1992, 1993, 1994  Rice University
#                     All Rights Reserved
#
###########################################################################

###########################################################################
# Architecture and site dependent configuration for the three flavors of
# operating system that are supported:  SunOS-5.x, OSF1.
###########################################################################

#-----------------------------------------------------------------
# Start Linux-i686 configuration
#-----------------------------------------------------------------

#  Non-ANSI C compiler
CC = /usr/bin/gcc

#  Strict ANSI-C compiler
ACC = /usr/bin/gcc -ansi -Wmissing-prototypes

#  C++ compiler
CXX = /usr/bin/g++ -traditional -fpermissive -Wno-deprecated

#  C++ library to use for prelinking
LCXX = -lg++

# Archive command
AR = /usr/bin/ar
ARFLAGS = r

#  remove command
RM = /bin/rm -f

#  move command
MV = /bin/mv -f

#  Echo command
ECHO = echo

#  Command used to strip -g libraries
STRIP = ld -r -x

#  Extra flags for required for the specific architecture
ARCH_CPPFLAGS = -DLINUX 

# Directories for X includes and archives
X11_LIB_DIR = /usr/lib
X11_INCLUDE_DIR = /usr/include/X11

#  Libraries needed for X-Windows
X11_LIB = -L$(X11_LIB_DIR) -lX11

#  Specific libraries needed by the architecture
ARCH_LIBS =

AWK = /usr/bin/gawk

FLEX = /usr/bin/flex
BISON = /usr/bin/bison

###########################################################################
# Tools and scripts used during the make.
###########################################################################

#-----------------------------------------------------------------
# path needed to locate the tools and scripts.
#-----------------------------------------------------------------
ifndef DSYSTEM_TOOLS
DSYSTEM_TOOLS = $(DSYSTEM)/tools
endif

ifndef DSYSTEM_TOOLS_DEV
DSYSTEM_TOOLS_DEV = $(DSYSTEM_TOOLS)/develop
endif

ifndef DSYSTEM_TOOLS_DEV_BIN
DSYSTEM_TOOLS_DEV_BIN = $(DSYSTEM_TOOLS_DEV)/bin
endif

ifndef DSYSTEM_TOOLS_DEV_BIN_SCRIPTS
DSYSTEM_TOOLS_DEV_BIN_SCRIPTS = $(DSYSTEM_TOOLS_DEV_BIN)/scripts
endif

ifndef DSYSTEM_TOOLS_DEV_BIN_OS
DSYSTEM_TOOLS_DEV_BIN_OS = $(DSYSTEM_TOOLS_DEV_BIN)/$(DSYSTEM_OS)
endif

#-----------------------------------------------------------------
# the actual locations of tools and scripts used during the make.
#-----------------------------------------------------------------

#  perl
#     be sure to provide the needed softlink in the DSYSTEM_TOOLS_DEV_BIN_OS
#     directory for perl.
PERL = $(DSYSTEM_TOOLS_DEV_BIN_OS)/perl/perl

#  lint
LINT = $(DSYSTEM_TOOLS_DEV_BIN)/dlint 

#  make
MAKE = $(DSYSTEM_TOOLS_DEV_BIN)/dmake 

#-----------------------------------------------------------------
# perl scripts that are used during the make.
#-----------------------------------------------------------------

#  used to compute dependences
DEPVERIFY = $(PERL) $(DSYSTEM_TOOLS_DEV_BIN_SCRIPTS)/DependenceVerify

#  the filter for the -E output of the compilers to produce the 
#  .d_* files
DEPFILTER = $(PERL) $(DSYSTEM_TOOLS_DEV_BIN_SCRIPTS)/DependenceFilter

#  check the dependence files to see if it is neccessary to 
#  recompile a file which is in the DSYSTEM_SRC directory
DEPCHECK = $(PERL) $(DSYSTEM_TOOLS_DEV_BIN_SCRIPTS)/DependenceCheck

# get info about the DSYSTEM_PVT directory
DSYS_PVT_STATUS = $(PERL) $(DSYSTEM_TOOLS_DEV_BIN_SCRIPTS)/DSysPvtStatus

# make the symbolic links in the bin directories
MAKE_BIN_LINKS = $(PERL) $(DSYSTEM_TOOLS_DEV_BIN_SCRIPTS)/MakeBinLinks

###########################################################################
# GNU specific stuff for those who want to use gcc and g++ instead of a 
# the OS resident compilers
#
#    Be sure to provide the need softlink in the 
#    $(DSYSTEM)/tools/develop/bin/$(DSYSTEM_OS) directory that points to
#    the directory where gcc and g++ have been installed.
#
###########################################################################

#-----------------------------------------------------------------
# define the version of gcc to be used and the processor/OS type
# as defined by GNU
#-----------------------------------------------------------------
GCC_VERSION = 7.50
GCC_TYPE = x86_64-linux-gnu
DSYSTEM_GCC_DIR = /usr
DSYSTEM_GCC_LIB = /usr/lib/gcc/$(GCC_TYPE)/$(GCC_VERSION)

#-----------------------------------------------------------------
# Directory of machine-specific gnu tools
#-----------------------------------------------------------------

#-----------------------------------------------------------------
# configuration of include paths used by the preprocessor for gcc 
# and g++ 
#-----------------------------------------------------------------
C_INCLUDE_PATH = $(DSYSTEM_GCC_LIB)/include:/usr/include
CPLUS_INCLUDE_PATH = $(DSYSTEM_GCC_DIR)/include/g++-3:$(DSYSTEM_GCC_LIB)/include:/usr/include
GCC_INCLUDE_DIR = $(DSYSTEM_GCC_LIB)

#-----------------------------------------------------------------
# compilers, dependence generators, and dependence filters for 
# GCC and G++
#-----------------------------------------------------------------
GCC	= $(DSYSTEM_GCC_DIR)/bin/gcc
GXX = $(DSYSTEM_GCC_DIR)/bin/g++

#-----------------------------------------------------------------
# gnu libraries for C++
#-----------------------------------------------------------------
LGXX    = -lgcc -lg++
