
DSYSTEM_OS = Linux-i686
CC = gcc
CXX = g++
BISON = bison
FLEX = flex
DSYSTEM_SRC = /home/carr/cs6030/DSystem/src
PABLO_INC = /home/carr/cs6030/DSystem/lib/pablo/include
OKIND     = $(DSYSTEM_OS)-g
OBJS = $(addsuffix .o,$(basename $(SRCS)))

#-----------------------------------------------------------------
# Configuration archive
#-----------------------------------------------------------------
CONFIG = $(DSYSTEM_SRC)/libs/config/Config-$(OKIND).a

#-----------------------------------------------------------------
# Front End archives
#-----------------------------------------------------------------
FRONT_END = $(DSYSTEM_SRC)/libs/frontEnd/FrontEnd-$(OKIND).a

FRONT_END_PTREE = $(DSYSTEM_SRC)/libs/frontEnd/prettyPrinter/FrontEnd-$(OKIND).a

#-----------------------------------------------------------------
# File Attribute Management archives
#-----------------------------------------------------------------
FM_ATTRFILE = $(DSYSTEM_SRC)/libs/fileAttrMgmt/attributedFile/FileAttrMgmt-$(OKIND).a
FM_MODULE   = $(DSYSTEM_SRC)/libs/fileAttrMgmt/module/FileAttrMgmt-$(OKIND).a
FM_FORTMOD  = $(DSYSTEM_SRC)/libs/fileAttrMgmt/fortranModule/FileAttrMgmt-$(OKIND).a
FM_COMP     = $(DSYSTEM_SRC)/libs/fileAttrMgmt/composition/FileAttrMgmt-$(OKIND).a

#-----------------------------------------------------------------
# Module Analysis archives
#-----------------------------------------------------------------
MA_CFG    = $(DSYSTEM_SRC)/libs/moduleAnalysis/cfg/ModuleAnalysis-$(OKIND).a
MA_CFGVAL = $(DSYSTEM_SRC)/libs/moduleAnalysis/cfgValNum/ModuleAnalysis-$(OKIND).a
MA_SSA    = $(DSYSTEM_SRC)/libs/moduleAnalysis/ssa/ModuleAnalysis-$(OKIND).a
MA_VAL    = $(DSYSTEM_SRC)/libs/moduleAnalysis/valNum/ModuleAnalysis-$(OKIND).a
MA_DEP    = $(DSYSTEM_SRC)/libs/moduleAnalysis/dependence/ModuleAnalysis-$(OKIND).a

#-----------------------------------------------------------------
# Interprocedual Analysis archives
#-----------------------------------------------------------------
IP_INTERFACE  = $(DSYSTEM_SRC)/libs/ipAnalysis/interface/IPAnalysis-$(OKIND).a
IP_PROBLEM    = $(DSYSTEM_SRC)/libs/ipAnalysis/problems/IPAnalysis-$(OKIND).a
IP_CALLGRAPH  = $(DSYSTEM_SRC)/libs/ipAnalysis/callGraph/IPAnalysis-$(OKIND).a
IP_INFO       = $(DSYSTEM_SRC)/libs/ipAnalysis/ipInfo/IPAnalysis-$(OKIND).a

IP_ANALYSIS   = $(IP_INTERFACE) $(IP_PROBLEM) $(IP_CALLGRAPH)

#-----------------------------------------------------------------
# Support archive
#-----------------------------------------------------------------
SUPPORT = $(DSYSTEM_SRC)/libs/support/Support-$(OKIND).a

#-----------------------------------------------------------------
# Graphic and Non-graphic User Interface Support
#-----------------------------------------------------------------
GI_FRAMEWORK = $(DSYSTEM_SRC)/libs/graphicInterface/framework/Framework-$(OKIND).a
GI_SUPPORT = $(DSYSTEM_SRC)/libs/graphicInterface/support/Support-$(OKIND).a
GI_DIALOGS = $(DSYSTEM_SRC)/libs/graphicInterface/oldMonitor/dialogs/dialogs-$(OKIND).a
GI_MONN = $(DSYSTEM_SRC)/libs/graphicInterface/oldMonitor/monitor/monN-$(OKIND).a

#-----------------------------------------------------------------
# ParaScope Editor archives
#-----------------------------------------------------------------
GI_PEDDG = $(DSYSTEM_SRC)/libs/graphicInterface/cmdProcs/paraScopeEditor/dg/ped-$(OKIND).a \
           $(DSYSTEM_SRC)/libs/graphicInterface/cmdProcs/paraScopeEditor/el/ped-$(OKIND).a \
           $(DSYSTEM_SRC)/libs/graphicInterface/cmdProcs/paraScopeEditor/dt/ped-$(OKIND).a \
           $(DSYSTEM_SRC)/libs/graphicInterface/cmdProcs/paraScopeEditor/stubs/stubs-$(OKIND).a 
GI_PED   = $(DSYSTEM_SRC)/libs/graphicInterface/cmdProcs/paraScopeEditor/dp/ped-$(OKIND).a \
	       $(DSYSTEM_SRC)/libs/graphicInterface/cmdProcs/paraScopeEditor/perf/ped-$(OKIND).a \
	       $(DSYSTEM_SRC)/libs/graphicInterface/cmdProcs/paraScopeEditor/pt/ped-$(OKIND).a \
           $(GI_PEDDG)

#-----------------------------------------------------------------
# Memoria and f2i
#-----------------------------------------------------------------

MEMORIA = $(DSYSTEM_SRC)/libs/Memoria/Memoria-$(OKIND).a
F2I = $(DSYSTEM_SRC)/libs/f2i/F2i-$(OKIND).a

#-----------------------------------------------------------------
# The libraries in link order for command line interface apps
#-----------------------------------------------------------------
NLIBS = \
	   $(F2I) \
	   $(MEMORIA) \
	   $(GI_PED) \
	   $(MA_DEP) \
	   $(MA_CFGVAL) \
	   $(MA_SSA) \
	   $(MA_CFG) \
	   $(IP_ANALYSIS) \
	   $(IP_INTERFACE) \
	   $(FM_COMP) \
	   $(FM_FORTMOD) \
	   $(FRONT_END) \
	   $(GI_FRAMEWORK) \
	   $(GI_DIALOGS) \
	   $(GI_MONN) \
	   $(FM_MODULE) \
	   $(FM_ATTRFILE) \
	   $(IP_INFO) \
	   $(MA_VAL) \
	   $(GI_SUPPORT) \
	   $(SUPPORT) \
	   $(CONFIG)

ENV = -g

INCLUDES=  \
	-I. \
	-I$(PABLO_INC) \
	-I$(DSYSTEM_SRC)

#CFLAGS	= $(INCLUDES) -DLONG_POINTER -DLINUX $(ENV) -m32 -Wno-format -static 
#CXXFLAGS	= $(INCLUDES) -DLONG_POINTER -DLINUX -m32 -fpermissive -Wno-format -Wno-write-strings -static $(ENV) 		  
CFLAGS	= $(INCLUDES) -DLINUX $(ENV) -m32 -Wno-format -static 
CXXFLAGS	= $(INCLUDES) -DLINUX -m32 -fpermissive -Wno-format -Wno-write-strings -static $(ENV) 		  
ARFLAGS = rU

RM = /bin/rm -f
SED = /bin/sed

.SILENT:

DEPENDS = $(addprefix .d_, $(basename $(SRCS)))

LEX_YACC_DEPENDS = $(addprefix .d_,$(LEX_SRCS )) $(addprefix .d_,$(YACC_SRCS))

LP = (
RP = )
ARCHIVE_OBJS = $(addsuffix $(RP),$(addprefix $(ARCHIVE)$(LP),$(notdir $(OBJS))))

.SUFFIXES: .c .C

$(ARCHIVE): $(ARCHIVE_OBJS)
	echo "Generating" $(ARCHIVE)
	ranlib $(ARCHIVE)


target: $(OBJS)
		echo "Done."

.PHONY: clean

clean:
		$(RM) $(OBJS) $(DEPENDS)

.c.o:
		echo "Compiling" $<
		$(CC) -c $(CFLAGS) $<

.C.o:
		echo "Compiling" $<
		$(CXX) -c $(CXXFLAGS) $<

.y.c:
	echo "Making $@..."
	$(BISON) $(BISON_FLAGS) -o $@ -d $<
	$(SED) s/yy/$(PREFIX)/g --in-place $@

.l.c:
	echo  "Making $@..."
	$(FLEX) $(FLEX_FLAGS) -o $@ $< 
	$(SED) s/yy/$(PREFIX)/g --in-place $@


.d_%: %.c
	echo  "Updating dependences for" $< "..."
	$(CPP) -D_STDARG_H -MM -MT '$(basename $<).o' $(INCLUDES) -MF $@ $<

.d_%: %.C
	echo  "Updating dependences for" $< "..."
	$(CPP) $(CXXFLAGS) -D_STDARG_H -MM -MT '$(basename $<).o' -MF $@ $<
#
# default rule to put all .o files in the archive and remove them
#

(%.o) : %.o
	$(AR) $(ARFLAGS) $@ $<

include $(DEPENDS)

# DO NOT DELETE THIS LINE -- make depend depends on it.
